.grid {
    
    display: grid;
    background-color: aquamarine;
    height: 100vh;
    grid-template-areas: 
    "header header header"
    "sidebar main main";
    
}

.header {
    grid-area: header;
  }
  
  .sidebar {
    grid-area: sidebar;
  }
  
  .main {
    grid-area: main;
  }